.container {
    display: grid;
    place-content: center;
    gap: 0.625rem; /* 10px */
}

.heading {
    font-weight: 300;
}

.subtle {
    font-size: 1.125rem; /* 18px */
    line-height: 1.75rem; /* 28px */
    font-weight: 600;
}

.subtle > span {
    color: #adadad;
}
